 body{
  background-color: #0f172a;
  color: #e2e8f0;
  margin: auto;
  overflow: hidden;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sun {
  height: 600px;
  width: 600px;
  
  background: radial-gradient(circle, #141e3d 0%, rgba(255, 14, 14, 0) 70%);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  
  position: absolute;
  transform: scale(200%);
}

#nav-bar {
  position: absolute;
  top: 60vh;
  left: 20vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
}

nav {
  color: #5b6a80;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: flex;
  flex-direction: c;
  padding-top: 5px;
}

nav a {
  color: #5b6a80;
  text-decoration: none;
}

nav {
  /* Background color of the navigation */
  padding: 10px;
}

/* Styling for the navigation links */
nav a {
  color: #5b6a80; /* Default text color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Adjust spacing */
  display: inline-block;
  position: relative; /* Position relative to create a reference for the line */
}

/* Styling for the lines before each navigation link */
nav a::before {
  content: ""; /* Empty content */
  position: absolute; /* Position absolute to place the line */
  left: -40px; /* Position line to the left of navigation link */
  bottom: 13px; /* Position line at the bottom of navigation link */
  width: 30px; /* Initial width of the line */
  height: 2px; /* Height of the line */
  background-color: #5b6a80; /* Initial background color of the line */
  transition: width 0.2s ease; /* Transition effect for the width */
}

/* Hover effect for navigation links */
nav a:hover {
  color: #e2e8f0;
  transform: translateX(30px);

  /* Text color on hover */
}

/* Hover effect for lines before navigation links */
nav a:hover::before {
  width: 60px; /* Increase width of the line on hover */
  background-color: #e2e8f0; /* Change background color of the line on hover */
  transform: translateX(-30px);
}

nav ul li:first-child a {
  color: #e2e8f0;
  transform: translateX(30px);
}
nav ul li:first-child a::before {
  width: 60px;
  background-color: #e2e8f0;
  transform: translateX(-30px);
}

#welcome-section {
  position: absolute;
  top: 15vh;
  left: 10vw;
}
#welcome-section h1 {
  font-size: 50px;
  font-family: raleway;
  color: #e2e8f0;
}
#welcome-section h2 {
  font-size: 25px;
  font-family: raleway;
  font-weight: 600;
  color: #e2e8f0;
  margin-top: -15px;
}
#welcome-section h2 {
  font-size: 25px;
  font-family: raleway;
  font-weight: 600;
  color: #e2e8f0;
  margin-top: -15px;
}
#welcome-section p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  color: #5b6a80;
  max-width: 500px;
}

.fab {
  font-size: 24px;
  margin: auto;
  color: #5b6a80;
  padding-right: 20px;
}
#contacts {
  position: relative;
  top: 90vh;
  text-align: right;
  padding: 10px 70px;
}

.fab:hover {
  color: #e2e8f0;
}

@media only screen and (max-width: 600px) {
  body{overflow:hidden;    margin: 0;
    padding: 0;
}
  #welcome-section {
      width: 100%;
      padding-right:10px;
  }
  

  #welcome-section h1 {
      font-size: 6vw;
  }

  #welcome-section h2 {
    font-size: 4vw;
}

  #welcome-section p {
      font-size: 2vw;
      width:70vw;
  }

  #nav-bar{transform: scale(70%);top:40vh;}
  #contacts {

    top: 80vh;}
}

